

h1{
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(255, 27, 236);
    text-shadow: 5px 2px 5px #080707;
    font-size: 6vh;
    font-weight: 800;
    margin-left: 0px;
    width: 10px;
}


.gallery{
    margin-top: 200px;
    margin-right: 200px;
    margin-left: -10;
}

