.footer{
    display: flex;
    justify-content: space-around;
    scroll-margin-bottom: -10px;
    background-color: $color-blackopacy;
    padding: 30px;
    z-index: 10;
    img{
        margin-left: 20px;
        margin-right: 20px;
        width: 4em;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        margin-top: 80%;
        background-color: $color-blackopacy;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        z-index: 10;
        img{
            width: 100%;
        }
    }
}



