.footer{
    margin-top: 5%;
    position: sticky;
    display: flex;
    justify-content: space-around;
    background-color: $color-blackopacy;
}

img{ 
    width: 200px;
    height: 50px;
    &:hover{
        scale: 1.2;
        filter: contrast(2);
        filter: drop-shadow(5px 5px 10px black);
    }
}

span{ 
    color: aqua;
    width: 100px;
    &:hover{
        scale: 1.2;
    }
}






@media screen and (max-width: 768px){ 
    .footer{ 
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .instagram{
        width: 200px;
    }
    .facebook{
        width: 200px;
    }
    .whatsapp{
        width: 200px;
    }
    span{
        width: 600px;
    }
}



