// SEARCH  //
.search {
    display: flex;
    justify-content: end;
    margin-right: -10px;

}

div{ 
    @include background;
    height: 70px;
    border-radius: 20px; 
    input { 
        height: 40px;
        margin-top: -1px;
        text-transform: uppercase;
        color: $color-gold;
        text-shadow: 1px 2px 1px black;
        font-weight: 700;
        margin-left: 200px;
        @include background;
        width: 30vh;
        padding: 10px;
        border-radius: 20px;
    }
}


::placeholder { 
    text-align: center;
    width: 100%;
    color: $color-gold;
    text-shadow: 0px 1px 2px black;
}
