// SEARCH  //


div{ 
    height: 100px;
    border-radius: 20px;
    input { 
        margin-left: 200px;
        @include background;
        width: 20vh;
        padding: 10px;
        border-radius: 20px;
    }
}


::placeholder { 
    display: flex; 
    justify-content: end;
    align-content: end;
    text-align: center;
    width: 100%;
    color: $color-gold;
    text-shadow: 0px 1px 2px black;
}
